---
import CardLayout from "../../layouts/CardLayout.astro";
---

<a href="/products/black-t-shirt/">
	<CardLayout
		itemName="Oversized Black t-shirt"
  	itemPrice="8.000,00"
  	>
  
  	<img
			class="astro-image"
    	slot="shop-item-image"
    	src="/t-shirt-black.webp" alt="t-shirt"
  	/>

	</CardLayout>
</a>