---
import CardLayout from "../../layouts/CardLayout.astro";
---

<a href="/products/blue-t-shirt/">
	<CardLayout
  	itemName="Oversized blue t-shirt"
  	itemPrice="8.000,00"
		>
  
  	<img
			class="astro-image"
    	slot="shop-item-image"
    	src="/t-shirt-blue.webp" alt="t-shirt"
  	/>

	</CardLayout>
</a>