---
import CardLayout from "../../layouts/CardLayout.astro";
---

<a href="/products/red-t-shirt/">
	<CardLayout
  	itemName="Oversized red t-shirt"
  	itemPrice="8.000,00"
  	>
  
  	<img
			class="astro-image"
    	slot="shop-item-image"
    	src="/t-shirt-red.webp" alt="t-shirt"
  	/>

	</CardLayout>
</a>