---
import Layout from '../layouts/Layout.astro'
import AstroHeader from '../components/AstroHeader.astro'
import Banner from '../components/Banner.astro'
import AstroShop from '../components/AstroShop.astro'
import AstroCards from '../components/AstroCards.astro'
import AstroFooter from '../components/AstroFooter.astro'
---

<Layout title="Astro.">

	<main>

		<AstroHeader />

		<Banner />

		<AstroShop>

			<AstroCards />

		</AstroShop>

		<AstroFooter />

	</main>

</Layout>