---
import Layout from '../layouts/Layout.astro';
import AstroHeader from '../components/AstroHeader.astro';
import Banner from '../components/Banner.astro';
import AstroShop from '../components/AstroShop.astro';
import AstroShirt from '../components/AstroShirt.astro';
---

<Layout title="Astro.">

	<main>

		<AstroHeader />

		<Banner />

		<AstroShop>

			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />
			<AstroShirt />

		</AstroShop>

	</main>

</Layout>