---
import Layout from '../layouts/Layout.astro';
import AstroHeader from '../components/AstroHeader.astro';
import Banner from '../components/Banner.astro';
import AstroShop from '../components/AstroShop.astro';
import BlackShirt from '../components/BlackShirt.astro';
import RedShirt from '../components/RedShirt.astro';
import BlueShirt from '../components/BlueShirt.astro';
---

<Layout title="Astro.">

	<main>

		<AstroHeader />

		<Banner />

		<AstroShop>

			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlueShirt />
			<BlackShirt />
			<BlueShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<BlueShirt />
			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlueShirt />
			<BlackShirt />
			<BlueShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<BlueShirt />
			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlueShirt />
			<BlackShirt />
			<BlueShirt />
			<RedShirt />
			<BlackShirt />
			<RedShirt />
			<BlackShirt />
			<BlueShirt />

		</AstroShop>

	</main>

</Layout>