---
import Layout from '../layouts/Layout.astro';
import AstroHeader from '../components/AstroHeader.astro';
import Banner from '../components/Banner.astro'
---

<Layout title="Astro.">

	<main>

		<AstroHeader />

		<Banner />

	</main>

</Layout>