<header class="pm-nav">

  <div class="pm-nav-wrapper container">
    <nav class="pm-nav-list-wrapper">
      <ul role="list" class="pm-nav-list">
        <li><a href="#" class="pm-nav-item active">Hombre</a></li>
        <li><a href="#" class="pm-nav-item">Mujer</a></li>
        <li><a href="#" class="pm-nav-item">Información</a></li>
        <li><a href="#" class="pm-nav-item">Contacto</a></li>
        <div class="pm-nav-footer-wrapper">
          <ul class="pm-nav-footer-list">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </ul>
      <div class="hamburguer">
        <span></span>
        <span></span>
      </div>
    </nav>

    <div class="logo-wrapper">
      <a href="#" class="logo">Astro.</a>
    </div>

    <nav class="sd-nav-list-wrapper">
      <ul role="list" class="sd-nav-list">
        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-shopping-bag"></i></a></li>
      </ul>
    </nav>
  </div>

</header>

<style>

	.pm-nav {
		position: fixed;
		background-color: var(--clr-neutral-900);
		width: 100%;
		height: 85px;
    z-index: 40;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, .8);
	}
	.pm-nav-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.pm-nav-list-wrapper {
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: start;
	}
	.pm-nav-list {
		display: flex;
		gap: 1em;
	}
	.pm-nav-list a {
		color: var(--clr-neutral-300);
		font-weight: var(--fw-medium);
		font-size: var(--fs-350);
		transition: color 0.12s ease;
	}
	.pm-nav-list a:hover {
		color: var(--clr-accent-400);
	}
	.pm-nav-list a.active {
		color: var(--clr-accent-400);
		text-decoration: underline;
		text-underline-offset: 5px;
	}
	.pm-nav-footer-wrapper {
		display: none;
	}

	.logo-wrapper {
		display: flex;
	}
	.logo {
		font-size: var(--fs-750);
		font-family: var(--ff-logo);
		color: var(--clr-neutral-100);
		z-index: 40;
	}

	.sd-nav-list-wrapper {
		display: flex;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: end;
	}
	.sd-nav-list {
		display: flex;
		gap: .5em;
	}
	.sd-nav-list a {
		font-size: var(--fs-550);
		color: var(--clr-neutral-100);
	}
	.sd-nav-list i {
		width: 100%;
		height: 100%;
		padding-inline: .3rem;
	}
	.sd-nav-list i:hover {
		scale: 110%;
	}

	.hamburguer {
		display: none;
		cursor: pointer;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: .4em;
		z-index: 40;
		transition: background-color 0.12s ease;
		height: 50px;
		width: 40px
	}
	.hamburguer:hover span {
		background-color: var(--clr-accent-400);
	}
	.hamburguer span {
		display: block;
		background-color: var(--clr-neutral-100);
		height: 3px;
		transition: all 0.2s ease;
	}
	.hamburguer > :nth-child(1) {
		width: 45px;
	}
	.hamburguer > :nth-child(2) {
		width: 25px;
	}
	.hamburguer.active > :nth-child(1) {
		width: 30px;
		transform: rotate(45deg) translateY(-2px) translateX(10px);
	}
	.hamburguer.active > :nth-child(2) {
		width: 30px;
		transform: rotate(-45deg) translateY(3px) translateX(8px);
	}

	/* Responsive layout */
	@media(max-width: 1050px) {
		.hamburguer {
			display: flex;
		}

		.pm-nav-list {
			background-color: var(--clr-neutral-900);
			display: flex;
			flex-direction: column;
			position: fixed;
			width: 350px;
			height: 100%;
			padding-top: 85px;
			left: -500px;
			top: 0;
			gap: 0;
			z-index: 20;
			transition: left 0.2s ease;
			overflow-y: auto;
			box-shadow: 3px 0px 6px rgba(0, 0, 0, .8);
		}
		.pm-nav-list.active {
			left: 0px;
		}
		.pm-nav-list li {
			display: flex;
			height: 60px;
			width: 100%;
		}
		.pm-nav-list a {
			display: flex;
			align-items: center;
			padding: 0px 15px;
			height: 100%;
			width: 100%;
			color: var(--clr-neutral-100);
			font-weight: var(--fw-medium);
			font-size: var(--fs-450);
			transition: color 0.12s ease;
		}
		.pm-nav-list a:hover {
			color: var(--clr-accent-400);
			background-color: var(--clr-accent-900)
		}
		.pm-nav-list a.active {
			color: var(--clr-accent-400);
			background-color: var(--clr-accent-900);
			text-decoration: none;
		}

		.pm-nav-footer-wrapper {
			display: flex;
			align-items: center;
			margin-top: auto;
			background-color: var(--clr-accent-900);
			height: auto;
		}
		.pm-nav-footer-list {
			display: flex;
		}
		.pm-nav-footer-list li {
			display: flex;
			height: 80px;
			width: 100%
		}
		.pm-nav-footer-list a {
			font-size: var(--fs-600);
			padding-inline: 1.3rem;
		}

		.sd-nav-list a {
			font-size: var(--fs-650);
		}
	}

</style>

<script>
	const menu = document.querySelector('.hamburguer');
	const sidebar = document.querySelector('.pm-nav-list');

	menu.addEventListener("click", () => {
		menu.classList.toggle('active')
		sidebar.classList.toggle('active')
	})
</script>