<footer class="astro-footer-wrapper">
  <h1>Footer goes here!</h1>
</footer>

<style>
  .astro-footer-wrapper {
    height: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>