<section class="astro-banner-wrapper">

  <div class="banner-text-wrapper">
    <div class="banner-text">
      <h1>J <p>&</p> D Project</h1>
      <p>Nuestro primer producto</p>
    </div>
    <div class="banner-button-wrapper">
      <a href="#shop">
        <button class="banner-button">Comprar</button>
      </a>
    </div>
  </div>

</section>

<hr>

<style>
  .astro-banner-wrapper {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("/astrobanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .banner-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
  }
  .banner-text h1 {
    display: flex;
    align-items: baseline;
    font-size: var(--fs-750);
    font-weight: var(--fw-bold);
  }
  .banner-text h1 p {
    font-size: var(--fs-500);
    color: var(--clr-accent-400);
  }
  .banner-text p {
    font-size: var(--fs-550);
    color: var(--clr-neutral-400);
    font-weight: var(--fw-medium)
  }

  .banner-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>